@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@tailwind utilities;

@layer components {
  /* .react-select-container {
  } */
  .react-select-container .react-select__control {
    @apply bg-white dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500;
  }

  .react-select-container .react-select__control--is-focused {
    @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
  }

  .react-select-container .react-select__menu {
    @apply bg-neutral-100 dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-600;
  }

  .react-select-container .react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
  }
  /* .react-select-container .react-select__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  } */

  .react-select-container .react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .react-select-container .react-select__input-container,
  .react-select-container .react-select__placeholder,
  .react-select-container .react-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }
}